In [1]:
print("hii all good evening")

hii all good evening

In [ ]:
we will wait for 5 min

In [ ]:
 ## list allow duplicates

In [64]:
students=['shaheen','priyanka','nandhu','asish','srikanth']

In [65]:
print(students)

['shaheen', 'priyanka', 'nandhu', 'asish', 'srikanth']

In [66]:
students.append('priyanka')

In [67]:
print(students)

['shaheen', 'priyanka', 'nandhu', 'asish', 'srikanth', 'priyanka']

In [ ]:
## here see we have two priyanks so it means list allow duplicates

In [ ]:
## Adding of elements to our tuple

In [2]:
dimensions=(66,89)

In [3]:
print(dimensions)

(66, 89)

In [4]:
type(dimensions)

tuple

In [5]:
dimensions[1]=100

TypeError: 'tuple' object does not support item assignment

In [6]:
dimensions=(66,89,100,70)

In [7]:
print(dimensions)

(66, 89, 100, 70)

In [9]:
print(dimensions[0])

66

In [36]:
s=(22,33)

In [37]:
print(s)

(22, 33)

In [ ]:
c=(2,66,78,54)--------------------------->tuple
c=()------------------------------------->empty tuple
c=(3)------------------------------------>not a tuple
c=(3,)------------------------------------>tuple

In [38]:
x=()

In [39]:
print(x)

()

In [40]:
type(x)

tuple

In [41]:
z=(6)

In [42]:
print(z)

6

In [43]:
type(z)

int

In [44]:
z=(5,)

In [45]:
print(z)

(5,)

In [46]:
type(z)

tuple

In [ ]:
## updating

In [47]:
a=(11,45,89,76,87)
b=(33,89,65,78,54)
c=a+b

In [48]:
print(c)

(11, 45, 89, 76, 87, 33, 89, 65, 78, 54)

In [ ]:
## deleting

In [ ]:
pop
delete
remove

In [49]:
del dimensions

In [50]:
print(dimensions)

NameError: name 'dimensions' is not defined

In [ ]:
### slicing of tuple

In [51]:
c=(1,2,37,90,76,67,54,78,45,95,34,89,100,56)

   0 1  2  3  4  5  6  7  8  9  10 11  12  13----->index position

In [52]:
print(c)

(1, 2, 37, 90, 76, 67, 54, 78, 45, 95, 34, 89, 100, 56)

In [53]:
c[0:5]

(1, 2, 37, 90, 76)

In [54]:
c[5:11]

(67, 54, 78, 45, 95, 34)

In [55]:
len(c)

14

In [59]:
c[ :10]

(1, 2, 37, 90, 76, 67, 54, 78, 45, 95)

In [60]:
c[ :5]

(1, 2, 37, 90, 76)

In [61]:
c[1: ]

(2, 37, 90, 76, 67, 54, 78, 45, 95, 34, 89, 100, 56)

In [62]:
c[0: ]

(1, 2, 37, 90, 76, 67, 54, 78, 45, 95, 34, 89, 100, 56)

In [63]:
c[11: ]

(89, 100, 56)

In [ ]:
(33,55,66)

## Dictionary datatype

In [ ]:
** Dict are used to store values in key value pairs
** dict is going to declare in {}
** it is also a collection of elements which is ordered and it doesnt allow duplicates

In [ ]:
key:value           name:sai         age:22       dept:ece

In [ ]:
## facebook

username------->'user1'
firstname------->'abc'
lastname-------->'xyz'
mailid----------->'abc@gmail.com'
dob-------------->220499
pwd--------------->12345

In [ ]:
key---------------->username,firstname,lastname,dob,mailid,pwd

values-------------->user1,abc,xyz,232471,abc@gmail.com,1234

In [12]:
s={'name':'john','branch':'eee','rno':12345}

In [13]:
print(s)

{'name': 'john', 'branch': 'eee', 'rno': 12345}

In [14]:
type(s)

dict

In [ ]:
## Adding
### updating
#### deleting

In [15]:
s['course']='b.tech'

In [16]:
print(s)

{'name': 'john', 'branch': 'eee', 'rno': 12345, 'course': 'b.tech'}

In [17]:
s['score']=89

In [18]:
print(s)

{'name': 'john', 'branch': 'eee', 'rno': 12345, 'course': 'b.tech', 'score': 89}

In [ ]:
## updating

In [19]:
s['name']='sai'

In [20]:
print(s)

{'name': 'sai', 'branch': 'eee', 'rno': 12345, 'course': 'b.tech', 'score': 89}

In [21]:
s['course']='m.tech'

In [23]:
print(s)

{'name': 'sai', 'branch': 'eee', 'rno': 12345, 'course': 'm.tech', 'score': 89}

In [24]:
print("hello world")

hello world

In [ ]:
Hello, World!

In [ ]:
## delete

In [ ]:
del 

clear

In [25]:
del s

In [26]:
print(s)

NameError: name 's' is not defined

In [27]:
x={'name':'sai','age':22,'rno':1234}

In [28]:
print(x)

{'name': 'sai', 'age': 22, 'rno': 1234}

In [29]:
z=x

In [30]:
print(z)

{'name': 'sai', 'age': 22, 'rno': 1234}

In [31]:
del x

In [32]:
print(x)

NameError: name 'x' is not defined

In [33]:
z

{'name': 'sai', 'age': 22, 'rno': 1234}

In [34]:
z.clear()

In [35]:
print(z)

{}

In [68]:
s={'name':'sai','branch':'eee','rno':123}

In [69]:
s['branch']        ## we can access elements through keys

'eee'

In [70]:
s['name']

'sai'

In [71]:
s['rno']

123

In [72]:
s['sai']   ## we cant access elements through values

KeyError: 'sai'